<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <style>
        body{
            background-color: aqua;
        }
        .container {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #888;
            align-items: center;
        }
        .container .menu a {
            position: relative;
            top: 0;
            display: block;
            text-decoration: none;
            color: black;
            padding: 10px;
            background-color: #fff;
        }
        .container .texto{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="texto">
            <h1>Olá</h1>
            <h1>Esse é o seu perfil!</h1>
            <h1><%= user.email %></h1>
        </div>
        <div class="menu">
            <a href="/logout">Sair</a>
        </div>
    </div>
</body>
</html>